/* Classe a ser usada para todos os botões.
Outras coisas como: cor, e posição, devem ser adicionados a parte. 

Isso serve para todas as classes listadas abaixo*/

.botao-g{
    border: none;
    width: 420px;
    height: 38px;
    border-radius: 8px;
    font-family: var(--gintoNormal-medium);
    font-style: normal;
    font-weight: var(--gintoNormal-medium);
    font-size: var(--small);
    line-height: var(--lh-little);
}

.input{
    color: var(--gray6);
    background-color: var(--gray2);
    outline: unset;
    padding: 10px;
    width: 420px;
    height: 32px;
    border: 1.5px solid var(--gray1);
    border-radius: 2px;
}


    





