/* Classe a ser usada para todos os inputs
Outras coisas como: cor, e posição, devem ser adicionados a parte.  */

.input{
    color: var(--gray6);
    background-color: var(--gray2);
    outline: unset;
    padding: 10px;
    width: 420px;
    height: 32px;
    border: 1.5px solid var(--gray1);
    border-radius: 2px;
}