*{
    color: var(--white);
}

body{
    background-color: var(--bg-list);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-list);
}

::-webkit-scrollbar-thumb {
    background: #bfbfff;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: #8080FF;
} 

.feed-leftbar::-webkit-scrollbar {
    width: 5px;
}

.feed-leftbar::-webkit-scrollbar-track {
    background: var(--gray1);
}

.feed-leftbar::-webkit-scrollbar-thumb {
    background: #bfbfff;
    border-radius: 5px;

}

.feed-leftbar::-webkit-scrollbar-thumb:hover {
    background: #8080FF;
} 

.feed-div{
    width: 100%;
    height: 100%;
    background-color: #2F3136;
    padding: 20px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedir-heelp-div{
    width: 55%;
    height: 118px;
    border-radius: 8px;
    background-image: url(../../../views/images/background/feed/pedir-heelp-background.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.content-pedir-heelp{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pedir-heelp-text{
    color: var(--white);
}

.pedir-heelp-button-a{
    text-decoration: none;
}

.pedir-heelp-button-div{
    width: 175px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--fuchsia);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pedir-heelp-button-p{
    font-weight: 400;
    color: var(--white);
    margin: 0;
}

.pedir-heelp-responsive{
    display: none;
}

.question-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-info-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.quesion-name{
    color: var(--gray7);
}

.question-about{
    color: var(--gray5);
}

.question-name, .question-about, .question-p{
    margin: 0;
}

.question-p{
    font-weight: 400;
}

a{
    text-decoration: none;
}

.question-img{
}

.question-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 25px;
}

.question-footer-div{
    height: 40px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.question-answers{
    background-color: var(--deep-blue);
}


.question-give-heelp-a:hover{
    transform: scale(1.05);
    transition: .5s;
}

.question-toAnswer{
    background-color: var(--blue);
}

.upper-line{
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper-feed{
    display: flex;
    position: relative;
}

.feed-leftbar{
    position: fixed;
    width: 20vw;
    height: 100%;
    background-color: var(--gray1);
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftbar-top{
    margin-bottom: 20%;
}

.feed-ul{
    list-style: none;
    padding: 1vw 0;
}

.leftbar-icon{
    margin-right: 10px;
}

.leftbar-text{
    font-weight: 400;
    margin: 0;
}

.leftbar-text-current{
    font-weight: 400;
    color: var(--primary);
    margin: 0;
}

.leftbar-categoria{
    color: var(--gray6);
    font-weight: 400;
    margin-top: 15px;
}

.leftbar-button-div{
    background-color: var(--fuchsia);
    color: var(--white);
    font-weight: 400;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 35px;
    margin-top: 35px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftbar-button-div:hover{
    transform: scale(1.05);
    transition: .5s;
}

.leftbar-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpo-feed{
    background-color: var(--bg-list);
    height: 100%;
    width: 100%;
    padding-left: 20vw;
    box-sizing: border-box;
}

.yellow-text{
    color: var(--yellow);
}

.space-between-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.drop-edit-exclud-about2{
    left: 17%
}

.read-btn-question{
    border: none;
    outline: none;
    background-color: var(--bg-list);
    color: var(--primary);
    text-decoration: none;
    font-weight: 400;
}

.question-core{
    padding-left: 60px;
}

.image-question{
    margin-top: 30px;
    margin-bottom: 30px;
}

.document-question{
    border: 1px solid var(--gray5);
    background-color: var(--gray3);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-60{
    margin-left: 60px;
}

.download-file-button{
    padding: 18px;
}

.download-file-button:hover{
    transform: translateY(15px);
    transition: .5s;
}

.document-name{
    padding: 18px;
}

p{
    margin: 0;
}

@media (max-width: 780px){
    .pedir-heelp-responsive{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background-color: var(--little-blue);
        top: 90%;
        left: 92%;
        position: fixed;
        z-index: 10;
    }
    .pedir-heelp-respo-img{
        width: 20px;
        height: 20px;
    }
    .pedir-heelp-respo-p{
        text-align: center;
        margin-top: -10px;
        margin-left: 2px;
    }
    .center{
        display: none;
    }
    .feed-div{
        padding-top: 0;
    }
}

@media (max-width: 700px){
    .pedir-heelp-responsive{
        left: 90%;
    }
    .drop-edit-exclud-about2{
        left: 15%
    }
}

@media (max-width: 550px){
    .pedir-heelp-responsive{
        left: 88%;
    }
    .margin-60{
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 450px){
    .question-footer-div{
        height: 30px;
        padding: 5px;
    }
    .question-p{
        font-size: 12px;
    }
    .xp-star{
        width: 15px;
        height: 14px;
    }
}

@media (max-width: 430px){
    .pedir-heelp-responsive{
        left: 86%;
    }
    .drop-edit-exclud-about2{
        left: 14%
    }
    .document-name{
        font-size: 12px;
    }
}

@media (max-width: 365px){
    .pedir-heelp-responsive{
        left: 84%;
    }
}

@media (max-width: 340px){
    .question-footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .question-footer-div{
        margin: 8px;
    }
    .document-name{
        font-size: 9px;
    }
}

@media (max-width: 280px){
    .pedir-heelp-responsive{
        left: 80%;
    }
}