.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.btn-danger {
    color: #fff;
    background-color: #bb2d3b;
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #5c636a;
    border-color: #565e64;
}

.btn{
    text-transform: none;
}