.my-p {
    margin-bottom: 2px;
}

.my-p-link {
    margin-bottom: 20px;
}

.my-p-bold {
    margin-bottom: 12px;
}

.badges-container {
    margin-bottom: 18px;
}

.badge-space {
    margin-right: 10px;
}

.select-modal {
    background-color: var(--gray2);
    color: var(--white);
    border: solid 1px var(--gray1);
}

.select-modal:focus {
    border: solid 1px var(--blue-sky);
}

.info-spacing {
    margin-bottom: 12px;
}
