/* Criei uma classe para o Body */
.body{

    background-image: url(./img/fundo.svg);
    background-color: #7a73ff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


/* Parte do form */

.form{
    margin-left: 50px;
}

.bem-vindo{
    margin-left: 110px;
    margin-top: 145px;
    width: 192px;
    height: 24px;
    color: var(--white) ;
}

.card{
    border: none !important;
    width: 600px;
    height: 657px;
   
}

.card-body{
    background-color: var(--bg-modal);
    height: 100% !important;
}

.email{
    margin-right: 100px;
    margin-top: 13px;
}


.inputEmail{
    padding-top: 30px;
    color: var(--gray7);
}

.inputPass{
    padding-top: 20px;
    color: var(--gray7);
    
}

.placeholder::placeholder{
    color:var(--gray6);
}


.bt{
    margin-top: 35px;
    background-color: #8080FF;
    color: var(--white);
    margin-bottom: 10px;
}

.bt:hover{
    box-shadow: 6px 6px 3px var(--blue-sky);
}

.final{
    margin-left: 114px;
    color: var(--gray7);
   
}

.link{
    color: var(--blue-sky);
}

a:hover{
    color: var(--blue-sky) !important;   

}

/* Fim do form */



