.white-text{
    color: var(--white);
}

body{
    background-color: var(--bg-list);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-list);
}

::-webkit-scrollbar-thumb {
    background: #bfbfff;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: #8080FF;
} 

.feed-leftbar::-webkit-scrollbar {
    width: 5px;
}

.feed-leftbar::-webkit-scrollbar-track {
    background: var(--gray1);
}

.feed-leftbar::-webkit-scrollbar-thumb {
    background: #bfbfff;
    border-radius: 5px;

}

.feed-leftbar::-webkit-scrollbar-thumb:hover {
    background: #8080FF;
} 

.feed-div{
    width: 100%;
    height: 100%;
    background-color: #2F3136;
    padding: 20px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedir-heelp-div{
    width: 100%;
    height: 118px;
    border-radius: 8px;
    background-image: url(../../../views/images/background/feed/pedir-heelp-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* padding-left: 40px;
    padding-right: 40px; */
}

.content-pedir-heelp{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pedir-heelp-text{
    color: var(--white);
}

.pedir-heelp-button-a{
    text-decoration: none;
}

.hover-button:hover{
    transform: scale(1.1);
    transition: .25s;
}

.pedir-heelp-button-div{
    width: 175px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--fuchsia);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.pedir-heelp-button-p{
    font-weight: 400;
    color: var(--white);
    margin: 0;
}

.pedir-heelp-responsive{
    display: none;
}

.question-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-info-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.quesion-name{
    color: var(--gray7);
}

.question-about{
    color: var(--gray5);
}

.question-name, .question-about, .question-p{
    margin: 0;
}

.question-name{
    color: var(--white);
}

.question-about-a:hover{
    color: var(--primary);
}

.question-p{
    font-weight: 400;
}

.functions-answer{
    margin-top: 20px;
}

.functions-answer, .like-answer, .avaliation-answer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
}

.avaliation-answer{
    width: 100%;
}

a{
    text-decoration: none;
}


.question-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 25px;
}

.question-footer-div{
    height: 40px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.question-answers{
    background-color: var(--deep-blue);
}


.question-give-heelp-a:hover{
    transform: scale(1.05);
    transition: .5s;
}

.question-toAnswer{
    background-color: var(--blue);
}

.upper-line{
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper-feed{
    display: flex;
    position: relative;
    
}

.feed-leftbar{
    position: fixed;
    width: 25vw;
    height: 100%;
    background-color: var(--gray1);
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.feed-rightbar{
    left: 75vw;
    padding-top: 0;
    align-items: flex-start;
}


.leftbar-top{
    margin-bottom: 20%;
}

.feed-ul{
    list-style: none;
    padding: 1vw 0;
}

.rightbar-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.rightbar-li{
    margin-bottom: 25px;
}

.leftbar-icon{
    margin-right: 10px;
}

.leftbar-text{
    font-weight: 400;
    margin: 0;
}

.leftbar-text-current{
    font-weight: 400;
    color: var(--primary);
    margin: 0;
}

.leftbar-categoria{
    color: var(--gray6);
    font-weight: 400;
    margin-top: 15px;
}

.leftbar-button-div{
    background-color: var(--fuchsia);
    color: var(--white);
    font-weight: 400;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 35px;
    margin-top: 35px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftbar-button-div:hover{
    transform: scale(1.05);
    transition: .5s;
}

.leftbar-bottom{
    width: 100%;
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.drop-leftbar{
    margin: 0;
    margin-left: 60%;
    transform: rotate(90deg);
    margin-top: -10px;
}

.drop-leftbar-content{
    transform: rotate(270deg) translateY(110px) translateX(-35px);
}

.bottom-photo-div{
    height: 75px;
    width: 75px;
    border-radius: 75px;
    border-radius: 75px;
    outline: 5px solid var(--purple-light);
}

.bottom-photo-div:hover{
    transform: translateY(-15px);
    transition: .5s;
}

.bottom-photo-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50px;
}

.bottom-xp-div{
    height: 24px;
    padding: 4px 6px 4px 6px;
    border-radius: 30px;
    background-color: var(--purple-light);
    margin-top: -5px;
}

.bottom-name{
    margin-top: 5px;
    font-weight: 400;
}

.bottom-name:hover{
    color: var(--primary);
}

.feed-bottombar{
    display: none;
}

.corpo-feed{
    background-color: var(--bg-list);
    height: 100%;
    width: 100%;
    padding-left: 25vw;
    padding-right: 25vw;
    box-sizing: border-box;
}

.yellow-text{
    color: var(--yellow);
}

.space-between-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
}

.drop-edit-exclud-about2{
    right: 26%
}

.read-btn-question{
    border: none;
    outline: none;
    background-color: var(--bg-list);
    color: var(--blue-sky);
    text-decoration: none;
    font-weight: 400;
}

.question-core{
    padding-left: 60px;
}

.delete-answer-div{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-answer-a:hover{
    transition: .5s;
    background-color: var(--gray3);
    border-radius: 8px;
}

.image-question{
    margin-top: 30px;
    margin-bottom: 30px;
}

.document-question{
    border: 1px solid var(--gray5);
    background-color: var(--gray3);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-60{
    margin-left: 60px;
}

.download-file-button{
    padding: 18px;
}

.download-file-button:hover{
    transform: translateY(15px);
    transition: .5s;
}

.div-alert{
    color: #0f5132;
}

.document-name{
    width: 100%;
    height: 60px;
    display: inline-block;
    align-items: center;
    padding: 18px;
    border: 1px solid var(--gray5);
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
}

.d-0{
    display: none;
}

.leftbar-li{
    height: 44px;
    align-items: center;
}

.leftbar-a{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.leftbar-a:hover{
    color: var(--primary);
}

.leftbar-linha{
    margin: 0
}

.document-icon{
    padding: 18px;
}

.profile-name{
    font-weight: 400;
    margin: 15px;
}

.copyright-text{
    color: var(--gray6);
    font-weight: 400;
    text-align: left;
    max-width: 200px;
}

.bg-little-blue{
    background-color: var(--little-blue);
}

p{
    margin: 0;
}

.feed-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feed-logo:hover{
    transform: translateX(20px);
    transition: 1s;
}

.feed-hr{
    background-color: var(--gray7);
    height: 2px;
}

.padding-20{
    padding: 20px;
}

.detail-question-hr{
    color: var(--white);
    height: 2px;
}

.profile-div{
    background-color: var(--bg-modal);
    border-radius: 10px;
}

.profile-top{
    background-color: var(--primary);
    border-radius: 10px 10px 0 0;
    height: 85px;
    width: 100%;
}

.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 120px;
}

.profile-pic-img{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    object-fit: cover;
    outline: 5px solid var(--bg-modal);
    margin-top: -60px;
}

.bg-bg-modal{
    background-color: var(--bg-modal);
}

.margin-left-20{
    margin-left: 20px;
}

.margin-right-20{
    margin-right: 20px;
}

.margin-bot-15{
    margin-bottom: 15px;
}

.bg-purple-light{
    background-color: var(--purple-light);
}

.profile-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 72px;
}

.profile-header-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.edit-profile-btn{
    background-color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    color: var(--bg-modal);
}

.edit-profile-btn:hover{
    color: var(--primary);
    filter: brightness(80%);
    transition: .5s;
}

.profile-follows{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -3px;
}

.profile-follows-a{
    padding: 5px;
}

.profile-follows-a:hover{
    border-radius: 5px;
    background-color:var(--gray3);
    transition: .25s;
}

.nav-tabs .nav-link.active{
    color: var(--white);
}

.drop-sair:hover{
    background-color: var(--red);
    color: var(--white);
}

.responsive-edit-profile{
    display: none;
}

@media (max-width: 1040px){
    .profile-name{
        font-size: 14px;
    }
}

@media (max-width: 925px){
    .feed-leftbar, .feed-rightbar{
        display: none;
    }
    .feed-bottombar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        height: 10vh;
        top: 93vh;
        background-color: var(--gray1);
        z-index: 10;
    }
    .bottombar-a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50px;
        padding-bottom: 20px;
    }
    .corpo-feed{
        padding: 0;
    }
    .drop-edit-exclud-about2{
        left: 16%;
    }
    .pedir-heelp-responsive{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        background-color: var(--fuchsia);
        top: 82vh;
        left: 91vw;
        position: fixed;
        z-index: 11;
    }
    .pedir-heelp-respo-img{
        width: 20px;
        height: 20px;
    }
    .pedir-heelp-respo-p{
        text-align: center;
        margin-top: -10px;
        margin-left: 2px;
        color: var(--white);
        font-weight: 800;
    }
    .center{
        display: none;
    }
    .feed-div{
        padding-top: 0;
    }
}

@media (max-width: 750px){
    .pedir-heelp-responsive{
        left: 89vw;
    }
}

@media (max-width: 700px){
    .pedir-heelp-responsive{
        left: 88vw;
    }
    .drop-edit-exclud-about2{
        left: 15%
    }
}

@media (max-width: 606px){
    .pedir-heelp-responsive{
        left: 87vw;
    }
    .drop-edit-exclud-about2{
        left: 14%;
    }
}

@media (max-width: 550px){
    .pedir-heelp-responsive{
        left: 85vw;
    }
    .margin-60{
        margin: 0;
        margin-bottom: 15px;
    }
    .drop-edit-exclud-about2{
        left: 14%;
    }
}

@media (max-width: 480px){
    .pedir-heelp-responsive{
        left: 84vw;
    }
    .drop-edit-exclud-about2{
        left: 13%;
    }
    .responsive-edit-profile{
        display: flex;
    }
    .edit-profile{
        display: none;
    }
    .edit-profile-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 30px;
        width: 30px;
        border-radius: 3px;
    }
    .xp-profile-pill{
        margin-left: 7px;
    }
}

@media (max-width: 450px){
    .question-footer-div{
        height: 30px;
        padding: 5px;
    }
    .question-p{
        font-size: 12px;
    }
    .xp-star{
        width: 15px;
        height: 14px;
    }
}

@media (max-width: 430px){
    .pedir-heelp-responsive{
        left: 81vw;
    }
    .drop-edit-exclud-about2{
        left: 14%
    }
    /* .document-name{
        font-size: 12px;
    } */
    .drop-edit-exclud-about2{
        left: 11%;
    }
}

@media (max-width: 365px){
    .pedir-heelp-responsive{
        left: 80vw;
    }
    /* .document-name{
        font-size: 9px;
        padding: 2px;
    } */

}

@media (max-width: 340px){
    .question-footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .question-footer-div{
        margin: 8px;
    }
    .pedir-heelp-responsive{
        left: 78vw;
    }
}

@media (max-width: 280px){
    .pedir-heelp-responsive{
        left: 75vw;
    }
    .feed-bottombar{
        top: 93%;
    }
    .avaliation-answer{
        margin-left: 30px;
    }
}