
@media (min-width: 1300px) {
    .card-contact {
        width: 480px;
    }
}

@media (max-width: 1225px) {
    .card-contact {
        width: 350px;
    }
}

@media (max-width: 305px) {
    .contador-prof {
        padding-top: 30px;
    }
}