.corM{
    background-color: var(--bg-modal);
}

.modal-titleM{
    color: var(--white);
}
.inputtextM{
    color: var(--white);
    background-color: var(--gray2);
    outline: unset;
    padding: 10px;
    width: 420px;
    /* height: 115px; */
    border: 1.5px solid var(--gray1);
    border-radius: 2px;
}
.inputtextM:focus{
    border: solid 1px var(--blue-sky);
    outline: none;
}

.buttonCadastrarM{
    margin-top: 50px;
    background-color: #8080FF;
    color: var(--white);
}

.subtituloM{
    margin-bottom: 10px;
    color: var(--white);
}
.containerM{
    padding: 20px;
}

.sub-titulo-plus2M{
    margin-top: 20px;
}

.setaM{
    margin-right: 10px;
    background-color: var(--bg-modal);
    border: 0;
    padding-left: -100px;
}

.fecharM{
    width: 15px;
    left: 300px;
}

.border-div{
    border: 2px solid #00AFF4;
}












@media screen and (max-width: 540px ){

    .inputtextM{
    width: 445px;
}

.input{
    width: 445px;
}
.botao-gM{
    width: 447px;
    }
}

@media screen and (max-width: 414px ){

    .inputtextM{
    width: 323px;
}

.inputM{
    width: 323px;
}
.botao-gM{
    width: 325px;
    }
}



@media screen and (max-width: 393px ){

    .inputtextM{
    width: 300px;
}

.inputM{
    width: 300px;
}
.botao-gM{
    width: 302px;
    }
}


@media screen and (max-width: 375px ){

    .inputtextM{
    width: 285px;
}

.inputM{
    width: 285px;
}
.botao-gM{
    width: 287px;
    }
}

@media screen and (max-width: 360px ){

    .inputtextM{
    width: 273px;
}

.inputM{
    width: 273px;
}
.botao-gM{
    width: 275px;
    }
}

@media screen and (max-width: 280px ){

    .inputtextM{
    width: 190px;
    
}

.botaoM{
    width: 192px;
    }
}

/* CONTADOR DE 250 CARACTERES */

.counterTextArea {
    margin-right: 8px;
    margin-bottom: 8px;
    color: var(--white);
}

.counter-container {
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    border-top: none;
}

.text-area {
    background-color: transparent;
    resize: none;
    color: white;
    width: 100%;
    border: solid 1px var(--gray1);
    resize: none;
    outline: none;
    padding: 10px;
}

.text-area:focus {
    border: none;
}



.text-area::placeholder {
    font-family: var(--gintoNormal-medium);
    font-style: normal;
    font-weight: var(--regular);
    font-size: var(--tiny);
    line-height: var(--lh-tiny);
    color: var(--gray6);
}


.input-text {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    background-color: #303339;
    border: solid 1px #202225;
    border-radius: 2px;
    color: var(--white);
  }

  ::placeholder {
    color: #adb0b3;
  }
  
  .input-text:focus {
    border: solid 1px var(--blue-sky);
    outline: none;
  }
